*{
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: aliceblue;
    font-family: Arial, sans-serif;
}

html, body{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin: 10px;
    text-align: center;
    font-size: 26px;
}

.avatar{
    text-align: center;
}

img {
    width: 150px;
}

.conteiner {
    flex: 1 0 auto;
    text-align: center;
    font-size: 18px;
    min-height: calc(100vh - 245px);
}

.footer{
    text-align: center;
    left: 0;
    width: 100%;
    flex: 0 0 auto;
}

.pwr{
    font-size: 12px;
    text-align: right;
}