h1 { 
	background: #FFF3AB; 
	text-align: center;
	padding: 0;
	font-family: sans-serif;
	color: #004a74;
}

h2 {
	background: #FFF3AB; 
	text-align: center;
	padding: 0;
	font-family: sans-serif;
	color: #4E0F57;
}

.img {
	background: #FFF3AB;
	margin: 0;

}
.oner { 
	background: url(../images/7BecGwd127w.jpg) no-repeat; 
	width: 100%;
	height: 400px;
    background-attachment: fixed;
    font-family: Georgia;
    text-align: right;
    font-size: 50px;
    color: #ff9899;
}

.but { 
	text-align: center; 
	margin-top: 30px; 
	margin-bottom: 50px;
	font-size: 20px;
}

.but a {
	padding: 10px 20px;
	color: white;
	background: green;
    text-decoration-line: none;
    border: solid #7B827D 5px;
    font-family: sans-serif;
}

.but a:hover { 
	background: #f32605; 
}


.but a:active { 
	background: #D3F00F; 
}


.footer { 
	background: #ff9899;
    height: 200px;
    font-size: 20px;
          
}
.footer ul { 
	padding: : 20px; 
}

h3	{
	margin-left: 15px;
	font-family: sans-serif;

}

li{ background: #ffe5e6; 
    margin-right: 20px;
    height: 25px;
    margin-top: 7px;
    font-family: sans-serif;
    padding: 3px;
}

.footername {
    text-align: center;
    margin-top: 25px;
    background: white url(../images/preved.jpg) no-repeat;
    height: 70px;
    width: 100%;
    background-position: right bottom;
    font-size: 18px;
    font-family: sans-serif;
 }




