.submit {
	color: #324158;
	background: #FFFACD;
	font-size: 25px;
	width: 50%;
	margin-right: 20%;
}
.submit:hover {
	background: green;
}
.submit:active {
	background: yellow;
}
h1 {
	color: #55b194;
}
.fon {
	background: #233838;
	clear: both;
	text-align: right;
}
.border {
	border: 4px solid #ae8a6c;
	width: 70%;
	clear: both;
	text-align: right;
	line-height: 25px;
}
label {
	float: left;
	padding-right: 10px;
	color: burlywood;
}
p {
	color: white;
	font-size: larger;
}
input:focus {
	border: 1px solid green;
}
.main {
	float: left
}
.man {
	position: fixed;
	left: 40%;
}