* {
	background-color: rgb(210, 210, 210);
	margin: 0;
	padding: 0;
}
.privat {
	width: 250px;
	margin: 10px 10px;
}
h1 {
	font-family: sans-serif;
	font-weight: strong;
	text-align: center;
	font-size: 250%;
}

hr {
	border-color: rgb(0, 160, 0);
}
.form {
	text-align: left;
	font-style: italic;
	font-family: sans-serif;
	font-size: 22px;
	margin: 2% 35%;
}
input[type=text], [type=password], [type=email], [type=tel], [type=date], [type=submit] {
	width: 100%;
	border-radius: 5px;
	border-color: black;
	padding: 10px;
	margin: 15px auto;
	font-size: 20px;
	font-family: arial;
}
input:focus {
   	border: 3px solid black;
}
input:active {
	background-color: rgb(0, 160, 0);
}
#data {
	text-align: center;
	color: rgb(0, 160, 0);
	width: auto;
}
a {
	text-decoration: none;
}
a:hover {
	color: rgb(0, 160, 0);
}
.button:hover {
	background-color: rgb(0, 160, 0);
}
.button {
	cursor: pointer;
}
