body {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 50%;
	margin-top: -76px;
	left: 50%;
	margin-left: -125px;
	
}

ul li a{
	background-color: lightgray;
	width: 250px;
	padding: 10px 10px;
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

li a:hover {
	background: #176d0b;
	color: white;
	cursor: pointer;

}
.backgr {
	background-color: white;
	width: 600px;
	height: 600px;
	border: 7px solid #d04c3c;
	position: relative;
	left: 50%;
	margin-left: -300px;
	margin-top: 10%;
}