html,body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 500;

	
}

section {
	width: 100%;
	height: auto;
	position: relative;
}

div {
	background-color: red;
	width: 100%;
	height: 40px;
	color: white;
	line-height: 40px;
	text-align: center;
	position: absolute;

}

.header {
	background-color: red;
	width: 100%;
	height: 40px;
	color: white; 
	padding: 10px 0;
	font-size: 1.2em;
	line-height: 40px;
	position: absolute;
}

.footer {
	background: green;
	width: 100%;
	height: 40px;
	color: white; 
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
	line-height: 40px;
	position: absolute;
}
