@import url('normilize.css');
@font-face {
  font-family: Montserrat-Bold; /* Имя шрифта */
  src: url(../fonts/montserrat/Montserrat-Bold.otf); /* Путь к файлу со шрифтом */
  }
@font-face {
  font-family: Montserrat-Regular; /* Имя шрифта */
  src: url(../fonts/montserrat/Montserrat-Regular.otf); /* Путь к файлу со шрифтом */
  }
@font-face {
  font-family: Kaushan-Script; /* Имя шрифта */
  src: url(../fonts/kaushan-script/KaushanScript-Regular.otf); /* Путь к файлу со шрифтом */
  }
@font-face {
  font-family: AlternatesMontserrat-ExtraLight; /* Имя шрифта */
  src: url(../fonts/montserrat/AlternatesMontserrat-ExtraLight.otf); /* Путь к файлу со шрифтом */
  }

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #95e1d3;
    background-color: #95e1d3;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #95e1d3;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #b6b6b6;
    background-color: #eee;
}
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
}
body {
  font-family: Montserrat-Bold;
  margin: 0 auto; 
  overflow-x: hidden;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  position: relative;
  background: linear-gradient(to bottom, #e88382, #eed889);
  padding-top: 10px 0;
  height: 100vh;
/*height: 650px;*/
}
.header__image {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  height: 113vh;
  margin-top: -180px;
}
.header__wrapper {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}
.header__logo {
  margin: 0;
  float: left;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.top-nav {
  margin-top: -50px;
  float: right;
}
.top-nav__links {
  float: right;
  margin-top: 12px;
  padding-left: 60px;
}
.top-nav__link {
  margin-top: -20%;
  width: 40%;
  margin-left: 30px;
  color: white;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  font-size: 15px;
}
.top-nav__link:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}
.top-nav__link_active {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}
.icons {
  float: right;
  margin-left: 30px;
  line-height: 35px;
}
.search {
  margin-left: 30px;
}
.header__text {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 50px; auto;
  color: white;
}
.template {
  font-size: 40px;
  font-family: Kaushan-Script;
  line-height: 30px;
}
.welcome {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  font-size: 72px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
}
.line {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 165px auto;
  height: 2px;
  width: 50px;
  background-color: white;
}
.header__button {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 150px;
  color: white;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  border: 2px solid white;
  text-align: center;
  font-size: 0.93em;
  font-weight: 100;
  margin-top: 200px;

}
.header__button:hover {
  background: linear-gradient(to bottom, #e88382, #eed889);
}
.header__button:active {
  background: #e88382;
  border-radius: 1px solid white;
}

/* Finish of header */

.about {
  position: relative;
  height: 600px;
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
}
.about__text, .works {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.do {
  font-size: 30px;
  font-family: Kaushan-Script;
  line-height: 30px;
}
.story {
  font-size: 33px;
  font-family: Montserrat-Bold;
  line-height: 25px;
  text-transform: uppercase;
}
.line__second {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  width: 50px;
  background-color: salmon;
}
.about__content {
  margin-top: 60px;
  text-align: center;
  color: #b6b6b6;
  font-family: Montserrat-Regular;
  font-size: 1.9vh;
}
.works {
  margin-top: 270px;
  padding-bottom: 50px;
}

.works__articles {
  float: left;
  width: 31%;
  padding-left: 6%;
}
.image__content {
  position: relative;
}
.works__images {
  height: 210px;
  width: 115%;
}
.cover__articles {
  position:absolute;
  width: 115%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 5px;
  display: none;
  background: linear-gradient(to bottom, #e88382, #eed889);
  text-align: center;
  opacity: 0.9;

}
.img-inside {
  margin-top: 20%;
}
.text-inside {
  color: white;
  font-size: 3vh;
  line-height: 20px;
}

.image__content:hover .cover__articles {
  display: block;
  z-index: 20;
  box-shadow:
    1px 1px #95e1d3,
    2px 2px #95e1d3,
    3px 3px #95e1d3,
    4px 4px #95e1d3,
    5px 5px #95e1d3,
    6px 6px #95e1d3,
    7px 7px #95e1d3;
}

/* Finish of first block */

.rates {
  height: 200px;
  width: 100%;
  background: #95e1d3;
  font-family: Montserrat-Bold;
  text-align: center;
}
.rates__content {
  text-align: center;
  display: block;
  position: absolute;
  text-align: center;
  left: 8%;
  right: 5%;
  margin: 0 auto;
}

.rates__content-blocks {
  float: left;
  width: 19%;
  padding: 2%;
  color: white;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.number {
  margin-right: 3%;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 5px;
}
.description {
  font-family: Montserrat-Regular;
  font-size: 15px;
  padding-bottom: 25px;
}

/* Start of second block */

.services {
  margin-top: 50px;
  position: relative;
  height: 600px;
}
.services__content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 200px auto;
  text-align: center;
}
.article {
  float: left;
  width: 33%;
  padding-bottom: 80px;
}
.article__img {
  float: left;
  padding-bottom: 50px;
  padding-right: 45px;
  padding-left: 45px;
}
.article__content {
  text-align: left;
  margin-top: -20px;
  font-family: Montserrat-Regular; 
  padding-left: 90px;

}
.article__header {
  color: #333333;
  font-size: 1.3vw;
  line-height: 15px;
  text-transform: uppercase;
}
.article__text {
  color: #b6b6b6;
  font-size: 1.8vh
}
.design {
  height: 600px;
  background: url(../images/devices-back.jpg) no-repeat;
  background-size: 100% 100%;
}
.design__content {
  padding-top: 70px;
}
.tablet {
  margin-top: 40px; 
  position: relative;
}
.phone {
  position: absolute;
  margin-top: 180px;
  margin-left: -50px;
  box-shadow: 0px 7px 8px -7px #000000;
}
.profession {
  position: relative;
  height: 70vh;
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
}
.profession__photo {
  margin-top: 270px;
  float: left;
  width: 27vw;
}
.section {
  display: block;
  position: absolute;
  margin-top: 270px;
  margin-left: 30vw;
  width: 35vw;
  height: 200px;
  border: 1px solid rgba(153, 153, 153, 0.3);
  text-decoration: none;
  text-align: center;
  list-style: none;

}
button.accordion {
  margin: 0 auto;
  background-color: white;
  color: #444;
  cursor: pointer;
  // padding: 18px;
  height: 50px;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(153, 153, 153, 0.3);
  outline: none;
  transition: 0.4s;
}

.accordion__img {
  margin-top: 8px;
  float: left;
  padding-right: 10px;
}
.accordion__header {
  font-family: Montserrat-Regular;
  text-transform: uppercase;
}
.accordion__text {
  color: #b6b6b6;
  font-family: Montserrat-Regular;
  padding: 10px;
  font-size: 1.8vh;
  line-height: 15px;
}

div.panel {
  text-align: left;
  height: 100px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
}

button.accordion:after {
  content: ''; 
  background: url(../images/icons/arrow-down.png) no-repeat;
  height: 50px;
  width: 50px;
  font-size: 11px;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-top: -32px;
}

button.accordion.active:after {
    content: " "; 
    background: url(../images/icons/arrow-top.png) no-repeat; 
}
.slider {
  position: relative;
  margin: 0 auto;
  width: 70vw;
  height: 250px;
  overflow: hidden;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.slides {
  margin-top: 20px;
  overflow: hidden;
  transition: all .25s ease;
  width: 70vw;
}
.slides__content {
  float: left;
  width: 70vw;
  height: 300px;
  text-align: left;
}
.slide {
  float: left;
  height: 200px;
  line-height: 300px;
  padding-right: 30px;
}
.slide__text {
  margin-top: 15px;
  font-family: MontserratAlternates-ExtraLight;
  color: #b6b6b6;
  font-style: italic;
  font-size: 1.5em;
}
.line__third {
  display: inline-block;
  margin-top: 33px;
  height: 2px;
  width: 50px;
  background-color: salmon;
  padding-right: 20px;
  float: left;
}
.arrow {
  position: absolute;
  top: 50%;
  color: grey;
  font-size: 3.5rem;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: all .5s;
}

.arrow-right {
  right: 20px;
}

.arrow-left {
  left: 0;
}

/* Start of blogs part */

.contact {
  height: 550px;
  width: 100%;
  background: #f8f8f8;
}
.contact__content {
  padding-top: 30px;
  text-align: left;
  border-top: none;
}
.contact__block {
  width: 38%;
  text-align: left;
  float: left;
}
.contact__header {
  color: #cccccc;
}
.counter {
  display: inline-block;
}
.contact__header-1 {
  font-family: Montserrat-Bold;
  float: left;

}
.contact__text {
  font-family: "Roboto", sans-serif;
  color: #b6b6b6;
  padding-right: 2%;
  font-size: 1em;
}

.contact__text-1 {
  line-height: 22px;
  margin-left: 40px;
  padding-top: 5px;
}

.contact__links {
 display: inline-block;
 border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #e5e5e5;
}
.contact__links-text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  float: left;
  padding-right: 20px;
  
}
.contact__icons {
  line-height: 55px;
}
.icons-images {
  padding-left: 2%;
}
.email {
  width: 200px;
  height: 27px;
  line-height: 27px;
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding-left: 5px;
  border: 1px solid #d9d9d9;
}
.submit {
  background: #95e1d3;
  width: 140px;
  line-height: 29px;
  height: 32px;
  margin-left: -5px;
  border-radius: 0px;
  border: 1px solid #95e1d3;
  color: white;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
}

/* start of blogs panel */

.contact__block-1 {
  width: 31%;
  float: left;
  text-align: left;
}
.blog__img {
  float: left;
  padding-right: 1%;
}
.blog__header {
  line-height: 18px;
  font-family: Montserrat-Regular;
  color: #333333;
  font-size: 0.9em;
  font-weight: lighter;
  text-transform: uppercase;
}
.blog__datum {
  margin-top: -20px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.9em;
}

/* instagram part */
.instagram-img {
  float: left;
  padding: 1px;
}
.instagram-img-1 {
  padding-left: 1px;
}

/* Footer */

footer {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 10vw;

}
.footer__content {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #e5e5e5;
}
.footer__header {
  line-height: 50px;
  font-family: Montserrat-Regular;
  color: #333333;
  font-size: 0.9em;
  font-weight: lighter;
  text-transform: uppercase;
}

/* Grid */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .header__logo {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .top-nav {
    // text-align: center;
    position: inline-block;
    text-align: center;
    margin-left: -10%;
    margin-top: 50px;
    float: left;
  }
  .icons {
    margin-right: 2%;
  }
  .article {
    float: left;
    width: 50%;
    padding-bottom: 80px;
  }
  .contact {
    height: 900px;
    width: 100%;
    background: #f8f8f8;
  }
  .contact__block {
    width: 100%;
  }
  .contact__block-1 {
    width: 500px;
    float: left;
    text-align: left;
    padding-right: 100px;
  }
  .instagram-img-1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .header {
    height: 630px;
  }
  .about {
    position: relative;
    height: 1250px;
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .works {
    margin-top: 290px;
  }
  .works__articles {
    width: 100%;
    margin-top: 20px;
  }
  .works__images {
    height: 250px;
    width: 100%;
  }
  .cover__articles {
    position:absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 5px;
    display: none;
    background: linear-gradient(to bottom, #e88382, #eed889);
    text-align: center;
    opacity: 0.9;

  }
  .about__content {
    margin-top: 60px;
    padding-bottom: 150px;
    text-align: center;
    color: #b6b6b6;
    font-family: Montserrat-Regular;
    font-size: 1.9vh;
  }
  .rates {
    height: 890px;
    width: 100%;
    background: #95e1d3;
    font-family: Montserrat-Bold;
    text-align: center;
  }
  .rates__content-block {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .rates__content-blocks {
    float: left;
    width: 100%;
    color: white;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .services {
    margin-top: 50px;
    position: relative;
    height: 900px;
  }
  .article {
    float: left;
    width: 100%;
    padding-bottom: 40px;
  }
  .article__header {
    color: #333333;
    font-size: 2vw;
    line-height: 15px;
    text-transform: uppercase;
  }
  .profession {
    position: relative;
    height: 140vh;
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .profession__photo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 270px auto;
    width: 80%;
  }
  .section {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 540px auto;
    width: 59vw;
    height: 200px;
    border: 1px solid rgba(153, 153, 153, 0.3);
    text-decoration: none;
    text-align: center;
    list-style: none;
  }
  .contact {
    height: 1200px;
    width: 100%;
    background: #f8f8f8;
  }
  .contact__block-1 {
    width: 400px;
    float: left;
    text-align: left;
    padding-right: 100px;
  }
  .instagram-img-1 {
    display: block;
  }
}
@media only screen and (max-width: 1070px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
