body{
	margin:0px;
}

h1{
	font-family:Verdana, sans-serif;
	font-size:22px;
	color:white;
}

h2{
	font-family:Verdana, sans-serif;
	font-size:16px;
}

li{
	font-family: Verdana, sans-serif;
	font-size:11px;
	line-height:200%;
}

p{
	font-family: Verdana, sans-serif;
	font-size:14px;
}

a{
	font-family:Verdana, sans-serif;
	font-size:16px;
	text-decoration: none;
	color:black;
	margin-left:15%;
}
#header{
	background:#507299;
	height:60px;
	width:100%;
}

#contenth{
	position:absolute;
	margin-left:30px;
}

#menu{
	background:oldlace;
	margin-top:30px;
	margin-left:30px;
	width:400px;
	height:450px;
}
#content{
	background:oldlace;
	position:absolute;
	left:300px;
	top:100px;
	margin-right:50px;
}
#footer{
	background:#507299;
	height:30px;
	position:absolute;
  left:0; 
  bottom:0;
  width: 100%;
}

#contentf{
	position:absolute;
	margin-top:7px;
	margin-left:30px;
	font-family:Verdana, sans-serif;
	font-size:11px;
}

.avatar {
	display:inline-block;
	overflow:hidden;
	line-height:1;
	vertical-align:middle;
	border-radius:10px;
}