.wrapper {
	width: 768px;
	margin: 20px auto;
}


.loader {
  text-align: center;
  z-index: 1;
}

.loader img {
  height: 100px;
}

.hidden {
	display: none;
}

table {
  width: 90%;
  min-width: 768px;
  margin: 20px auto;
  text-align: left;
  font-family: sans-serif;
  border-collapse: collapse;
  background: #eee;
}

table tr {
  background: #eee;
}

table td {
  width: 19%;
  padding: 0;
}

table td.photo-col {
  padding-left: 15px;
  padding-right: 5px;
  width: 8%;
}

table img.photo {
  border: 3px solid white;
  vertical-align: middle;
  border-radius: 50%;
}

table img.small-photo {
  height: 60px;
}
