
ul {
	height: 120px;
	width: 170px;
	padding-left:0;
	margin-top: -60px;
	margin-left: -85px;
	margin-bottom: 0;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	background-color: blue;
}

ul li {
	background: lightgray;
	padding: 10px 20px;
	text-decoration: none;
	list-style-type: none; 
	height: 10px;

}

ul li a {
	text-decoration: none ;
	color: grey;
}

ul li:hover  {
	cursor: pointer;
	background-color: green;}

ul li:hover a {
	cursor: pointer;
	background-color:white ;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
}


.wrapper{
	margin: 50px auto;
	height: 300px;
	width: 400px;
	position: relative;
	border: 5px solid salmon;
}

.vetrical {
	position: absolute;
	left: 50%
	top:150px;
	margin-left: -150px; 
}