html, body {
	margin: 0;
}

.content {
	position: relative;
	height: 400px;
	width: 800px;
	border:10px solid darkkhaki;
	margin:80px auto;
}

ul {
	height: 200px;
	width: 350px;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
}

ul li {
	background-color: lightgrey;
	padding: 10px 20px;
	font-family: monospace;
	width: 100%;
	list-style-type: none;
	font-size: 200%;
}

ul li a {
	text-decoration: none;
	color: grey;
	display: block;
}

ul li:hover {
	background-color: green;	
	cursor: pointer;
}

ul li a:hover {
	color: white;
}
