body, html {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	background: url(../img/back.jpg);
}

header {
	height: 60px;
	background: #222;
	color: white;
}

.menu {
	width: 1024px;
	margin: 0 auto;
}

.menu ul {
	text-transform: uppercase;
	font-family: monospace;
	list-style-type: none;
	margin: 0;
	font-size: 145%
}

.menu ul:after {
	content: "";
	clear: both;
	display: table;
}

.menu ul li {
	background-color: #222;
	float: left;
	padding: 19px 0;
}

.menu ul li a {
	text-decoration: none;
	color: white;
	padding: 19px 40px;
}

.menu .selected {
	background-color: #CD6600;
}

.menu ul li a:hover {
	background-color: #4caf50;
}

.picture {
	border: 2px solid black; 
	width: 23%;
	float: left;
	margin: 20px 5px 50px;
	box-sizing: border-box;
	opacity: 0.7;
	cursor: pointer;
}

.picture img {
	width: 100%;
}

.picture div {
	color: black;
	text-align: center;
	padding: 10px 0;	
}

.picture:hover {
	opacity: 1;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.head {
	font-size: 250%;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
}

.wrapper {
	margin: 40px 10px;
	color: #222;
	font-size: 140%;
}

.wrapper .img1 img {
	width: 35%;
	float: right;
	overflow: auto;
	margin: 15px;
	border: 3px solid #222;
	border-radius: 5px;
	cursor: pointer;
}

.img1:hover {
	opacity: .8;
}

.text1:after {
	content: "";
	clear: both;
	display: table;
}

.wrapper .img2 img {
	width: 35%;
	float: left;
	overflow: auto;
	margin: 15px;
	border: 3px solid #222;
	border-radius: 5px;
	cursor: pointer;
}

.img2:hover {
	opacity: .8;
}

.text2:after {
	content: "";
	clear: both;
	display: table;
}

.contacts {
	font-size: 150%;
	font-weight: bold;

}

.contacts ul {
	list-style-type: none;
	display: block;
	border: 10px solid salmon;
	width: 450px;
	margin: 70px auto 195px;
	border-radius: 15px;
	background-color: 
}

.contacts ul li {
	padding: 15px 20px;
}

.contacts ul li a {
	text-decoration: none;
}

.contacts ul li a:link {
	color: purple;
}

.contacts ul li a:visited {
	color: green;
}

.contacts ul li a:hover {
	color: chocolate;
}

.contacts ul li a:active {
	color: black;
}

.block {
	border: 10px solid salmon;
	border-radius: 10px;
	padding: 15px;
	margin: 20px auto;
	font-weight: 140%;
	color: chocolate;
	height: 225px;
}

.block img {
	float: left;
	box-sizing: border-box;
	padding: 2px 10px;
}

.block div {
	text-align: right;
}

.block a {
	color: green;
	text-decoration: none;
}

footer {
	height: 60px;
	background-color: #222;
	width: 100%;
}

.links ul {
	margin: 0 40%;
	list-style-type: none;
}

.links ul li {
	text-align: center;
	float: left;
	padding: 10px 10px;
}

.links ul li a {
	height: 100%;
}