html, body { height: 100%; background: #eff6a5; position:relative; min-width:800px; margin: 0 auto; text-align: center;}

h1 {
    color: #28266d;
}

h2 {
    color: rgba(163, 31, 118, 0.77)
}
#okno{
    height: 300px;
    background: url(../photo.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#okno p {float: right; margin-top: 30px; margin-right: 20px; font-family: 'Indie Flower', cursive; font-size: 50px; color: white;}
button {
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 10px;
    
    
    
}

#text {
    text-align: left;
    background: rgba(227, 103, 160, 0.81);
    padding: 15px;
}

#text li {
    background: white;
    padding: 3px;
    margin-top: 3px;
}

.footer {
  background: #fefefe url(../bear.jpg) no-repeat; 
  background-position: right bottom;  
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}

