* {
	margin: 0px;
	box-sizing: border-box;
	color:black;
	font-family: sans-serif;
}

body {
	width: 100%;
}

header {
	font-size: 20px;
}
main {

}

a {
	display: block;
	text-align: center;
}

.row::after {
	clear: both;
	display: block;
	content: "";
}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 1px solid red;
}

.central-article {margin-bottom: 14px;}

.pic1 {
	margin: 20px auto;
	width: 300px;
	height: 200px;
	background-image: url('grids picture/Svadba-300x200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.pic2 {
	margin: 20px auto;
	width: 300px;
	height: 200px;
	background-image: url('grids picture/hmaro2619da-300x200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.pic3 {
	margin: 20px auto;
	width: 300px;
	height: 200px;
	background-image: url('grids picture/Place_171-300x200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
figcaption {
	text-align: center;
}
/*
.left_col {
	height: 150px;
}

.right_col {
	height: 150px;
}

.row {
	border: 3px solid lightblue;
	margin: 0px;
	padding:0px;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.desc {
	margin:30px auto;
	text-align: center;
}



p {
	font-size: 18px;
}

ul {
	height: 50px;
	width: 33.33%;
	margin:0px;
	padding:0px;
}

li {	
	float: left; 
	list-style-type: none;
	border:1px solid red;
}

a {	
	display: block;
	padding: 16px 22px;
	text-align: center;
	font-size: 18px;
} 

a:hover {
	background: green;
}

*/

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

@media only screen and (max-width: 1024px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  	.pic1, .pic2, .pic3 {
		width: 230px;
	}
	aside {
		display: none;
	}
	.pic1 {
			background-image: url('grids picture/Place_171-300x200.jpg');
	}
	.pic2 {
			background-image: url('grids picture/Svadba-300x200.jpg');
	}
	.pic3 {
		background-image: url('grids picture/DSC_7298-300x200.jpg');
	}
}




@media screen and (max-width: 768px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	.pic1, .pic2, .pic3 {
		background-image: url('grids picture/DSC_7298-300x200.jpg');
	}

}


