body {
	background:#c91717;
	font-family:Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:0;
	margin:40px 20px 0 20px;
}
fieldset {
    border:1px solid #D4DADB;
	border-radius:6px;
}
label {
    display:inline-block;
	width:90px;
}
input {
	margin:0;
	padding:2px 3px;
	width:218px;
}
.img {
	margin-right:11px;
	vertical-align:middle;
}
span {
    color:green;
}
.incorrect {
    color:#CC0000;
}
div {
    background:#E3E3E3;
	border-radius:5px;
	margin:10px 0;
	padding:12px 0;
}
.sub {
    background:linear-gradient(#0B990B, #008F00, #00AB00);
	background:-webkit-linear-gradient(#0B990B, #008F00, #00AB00);
	background:-moz-linear-gradient(#0B990B, #008F00, #00AB00);
	background:-ms-linear-gradient(#0B990B, #008F00, #00AB00);
	background:-o-linear-gradient(#0B990B, #008F00, #00AB00);
	border:0;
	border-radius:20px;
	color:#fff;
	margin-left:9em;
	padding:3px 10px;
	position:relative;
	width:152px;
	z-index:1;
}
.sub:before {
    background:#3DC83D;
	border-radius:20px;
	content:'';
	height:10px;
	width:130px;
	position:absolute;
	top:2px;
	left:11px;
	z-index:-1;
}


.btn-6d {
    border: 2px dashed #226fbe;
}

.btn-6d:hover {
    background: transparent;
    color: #226fbe;
}
