@import url('reset.css');

@font-face {
	font-family: Nexa-Bold;
	src: url('../fonts/Nexa Bold.otf');
}

@font-face {
	font-family: Nexa-Bold;
	src: url('../fonts/Nexa Light.otf');
}

html, body {
	margin: 0;
	background: rgb(235, 235, 235) ;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/*
==================
HEADER
==================
*/

header {
	background-color: rgb(55, 55, 55);
	width: 100%;
	height: 66px;
}

.content {
	margin: 0 auto;
	width: 942px;
}

.header__logo {
	width: 82px;
	height: 66px;
	background-color: rgb(242, 108, 79);
	position: relative;
	margin-right: 0;
	float: left;
}

.header__logo img {
	margin: 20px 0 0 31px;
}

.header__logo::after {
	content: "";
	position: absolute;
	top: 30%;
	left: 100%;
	border-style: solid;
	border-width: 12.5px 0 12.5px 12px;
	border-color: transparent transparent transparent #f26d4f;
}

.header__name {
	color: white;
	margin-left: 100px;
	font-size: 18px;
	line-height: 66px;
	vertical-align: middle;
	font-family: 'Nexa-bold';
}
/*
=================
HEADER NAV
=================
*/

nav {
	background-color: rgb(71, 71, 71);
	width: 100%;
	height: 66px;
	margin: 0 auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: arial;
}

nav ul li {
	float: left;
	padding: 27px 0;
}

nav ul li span {
	padding: 0 30px;
	display: block;
	line-height: 11px;
	height: 11px;`
}

.nav_with_border {
	border-right: 1px solid rgb(118, 118, 118);
}

nav ul li span a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.active,
nav ul li span a:hover {
	padding-bottom: 21px;
	border-bottom: 4px solid #f26c4f;
}

/*
================
Content
================
*/

.content__panel {
	margin-top: 20px;
	display: inline-block;
}

.search {
	height: 45px;
	float: left;
}

.search input {
	height: 100%;
	width: 300px;
	font-family: arial;
	font-weight: bold;
	padding: 15px 40px 15px 20px;
	box-sizing: border-box;
	background: #fff url(../images/icons/clock.png) no-repeat right  10px center;
	outline: none;
	color: #505050;
	border: none;
	box-shadow: 1px 1px 1px  rgba(0, 0, 0, .1);
	
}

.content__social {
	margin-left: 620px;
	line-height: 50px;
	vertical-align: middle;
	display: block;
}

.content__social-logo {
	float: left;
}

.content__social-name {
	font-size: 10px;
	float: right;
	padding: 0 35px 0 8px;
}

.content__social-link{
	color: #8f8f8f;
	text-decoration: none;
}

.content__social-link:hover {
	color: #f26c4f;
}

/*
==============
FEATURE IMAGE
==============
*/

.content__feature {
	margin-top: 12px;
}

.feature__img {
	height: 390px;
	width: 630px;
	background: url(../images/img/main.jpg);
	position: relative;
	float: left;
}

.feature__img-text {
	color: white;
	line-height: 62px;
	vertical-align: middle;
	font-family: 'Nexa-Light';
	font-weight: 300;
	font-size: 16px;
	width: 340px;
	height: 62px;
	background-color: rgba(50, 50, 50, 0.7);
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 20px;
}

.feature__text {
	height: 390px;
	width: 302px;
	border-left: 10px solid #f26d4f;
	float: right;
	background: #373737;
	position: relative;

}

.feature__text::after {
	content: "";
	position: absolute;
	top: 12%;
	border-style: solid;
	border-width: 12.5px 0 12.5px 12px;
	border-color: transparent transparent transparent #f26d4f;
}

.feature__text-header {
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 22px;
	padding: 45px 42px 0 36px;
	cursor: pointer;
}

.feature__text-header:hover {
	color: lightgrey;
}

.feature__text-simple {
	font-family: arial;
	color: #a7a7a7;
	font-size: 12px;
	margin-top: 10px;
	padding: 8px 42px 0 36px;
	line-height: 2;
}

.feature__text-time {
	background: url(../images/icons/clock2.png) no-repeat center;
	font-family: arial;
	color: #a7a7a7;
	font-size: 12px;
	margin-top: 10px;
	padding: 8px 42px 0 175px;
}

/*
==============
ARTICLES
==============
*/

.content__articles {
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}

.content__article {
	width: 304px;
	height: 380px;
	background-color: white;
	float: left;
	margin-right: 15px;
	position: relative;
	box-shadow: 1px 1px 1px  rgba(0, 0, 0, .1);
}

.content__article:last-child {
	margin-right: 0;
}

.content__article-image img{
	height: 210px;
	width: 100%;
	overflow: hidden;
}

.content__article-image::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-style: solid;
	border-width: 0 78px 78px 0;
	border-color: transparent #f26d4f transparent transparent;
	cursor: pointer;
	z-index: 10;
}

.content__article-plus {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 5%;
	z-index: 20;
}

.content__article-header {
	margin: 8px 82px 0 22px;
	font-size: 26px;
	font-family: arial;
	line-height: 1.2;
	font-weight: bold;
}

.content__article-link {
	color: #4f4f4f;
	text-decoration: none;
}

.content__article-link:hover {
	color: grey;
}

.content__article-text {
	color: #4f4f4f;
	margin: 10px 82px 0 22px;
	font-size: 12px;
	font-family: arial;
	line-height: 1.6;
}

/*
============
NEWS
============
*/

.newsblock {
	width: 623px;
	height: auto;
	float: left;
}

.content__news {
	padding: 2% 8% 3% 6%;
	font-family: arial;
	border-left: 4px solid #f26c4f;
	margin-top: 15px;
	background-color: white;
	box-shadow: 1px 1px 1px  rgba(0, 0, 0, .1);
}
.content__news-selected {
	background-color: #f26c4f;
	border-left: 4px solid #ce4e32;
	position: relative;
}

.content__news-selected h2,
.content__news-selected div,
.content__news-selected p {
	color: white;
	margin: 0;
}

.content__news-selected .news__info-date,
.content__news-selected .news__info-comments {
	border-right: 1px solid white;
}

.selected_tape {
	position: absolute;
	left: -8%;
	top: 45%;
}

.content__news-smart {
	margin-top: 10px;
	padding: 1% 6% 2% 4%;
}

.newsblock__link {
	text-decoration: none;	
}

.content__news-header:hover {
	color: grey;
}

.content__news-header {
	padding: 15px 0;
	color: #474747;
}

.content__news-info {
	display: inline;
	color: #afafaf;
	font-size: 11px;
}

.news__info-date,
.news__info-comments {
	border-right: 1px solid #afafaf;
	padding: 2px 25px;
}

.news__info-date {
	padding-left: 0;
}

.news__info-rating {
	padding-left: 25px;
	position: relative;
	top: 50%;
}

.news__info-votes {
	padding-left: 20px;
}

.content__news-text {
	margin-top: 15px;
	color: #4f4f4f;
	font-size: 12px;
	line-height: 2;
}

.news__continue {
	margin: 25px auto;
	display: block;
	text-align: center;
	text-decoration: none;
}

.news__continue-text {
	color: #bdbdbd;
	margin-bottom: 10px;
}

/*
=============
TEXTBOXES
=============
*/

.content__textboxes {
	padding: 4% 8% 4% 8%;
	font-family: arial;
	margin-top: 15px;
	background-color: white;
	box-shadow: 1px 1px 1px  rgba(0, 0, 0, .1);
}

.content__textbox-header{
	color: #707070;
	padding-bottom: 25px;
}

.content__textbox-text{
	color: #939393;
	line-height: 2;
	font-size: 13px;
	font-weight: bold;
}

.textbox__text-selected {
	color: #f26d4f;
}

.textbox__likes {
	height: 44px;
	box-shadow: 1px 1px 1px  rgba(0, 0, 0, .1);
	border: 1px solid #e6e6e6;
	color: #a2a2a2;
	font-size: 12px;
	padding: 0 30px;
	margin-top: 2px;
}

.textbox__likes-text {
	vertical-align: middle;
	line-height: 44px;
	float: left;
}

.textbox__likes-image {
	float: right;
	display: block;
	line-height: 44px;
	vertical-align: middle;
	cursor: pointer;
}

.textbox__likes-image p{
	float: left;
	padding-right: 10px;
}

.content__textbox-image {
	height: 315px;
	width: 100%;
	margin-top: 30px;
}

.image__box {
	margin-top: -5px;
}

/*
==============
RIGHT BAR
==============
*/

.rightbar {
	width: 300px;
	float: right;
	margin: 15px 4px 0 0;
}

.rightbar__article {
	background: #373737;
	height: 585px;
}

.rightbar__article img {
	height: 300px;
	width: 100%;
}

.rightbar__article  .content__article-plus {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 15px;
	height: 15px;
	z-index: 20;
}

.rightbar__article .content__article-link,
.rightbar__article .content__article-text {
	color: white;
	margin-right: 50px;
	margin-top: 15px;
}

.rightbar__article .content__article-link:hover {
	color: lightgrey;
}

.rightbar__textbar {
	margin-left: 15px;
	margin-top: 10px;
	display: inline-block;
}

.rightbar__textbar-header {
	color: #474747;
	margin: 25px 0 10px;
}

.rightbar__textbar-text {
	color: #a7a7a7;
	font-size: 12px;
	line-height: 2;
}

.rightbar__textbar-date {
	margin: 10px 0 25px;
	color: #a7a7a7;
	font-size: 12px;
}

.rightbar__textbar hr {
	border: 1px solid rgba(217, 217, 217, .8);
}

/*
============
CONTACTS
============
*/

.rightbar__contacts {
	margin-top: 10px;
}

.rightbar__contacts-link {
	height: 45px;
	width: 100%;
	border-left: 3px solid #cacaca;
	background-color: white;
	margin-bottom: 8px;
}

.rightbar__contacts-link:hover {
	background-color: #f26d4f;
}

.contacts__links {
	text-decoration: none;
	line-height: 45px;
	vertical-align: middle;
	padding-left: 25px;
	font-weight: bold;
	color: #474747;
	display: block;
	font-family: arial;
}

.rightbar__contacts-name {
	color: #dedede;
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
	font-family: arial;
}

.no_bold {
	font-weight: normal;
}

/*
============
FOOTER
============
*/

.footer {
	background-color: rgb(55, 55, 55);
	margin-top: 124px;
	height: 140px;
	width: 100%;
}

.footer__nav,
.footer__info {
	margin-left: 190px;
}

.footer__nav-list {
	list-style-type: none;
	padding-left: 0;
}

.footer__nav-points {
	display: inline-block;
	padding-right: 15px;
	margin-top: 38px;
}

.footer__nav-link {
	color: #c4c4c4;
	text-decoration: none;
	font-size: 12px;
	font-family: arial;
}

.footer__info {
	color: #565656;
	font-size: 11px;
	font-family: arial;
	line-height: 2;
	margin-top: 20px;
}