* {
	box-sizing: border-box;
	font-family: arial;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	position: relative;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 920px) {
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

img {
    width: 100%;
    height: auto;
}

/*HEADER*/

header {
	width: 98%;
	height: 7%;
	margin: 1em 0 0 1em;
}

.title {
	margin: 0;
}

.title__description {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: -1em;
}

.header__line {
	border: 1px solid red;
	width: 100%;
	display: inline-block;
}

/*CONTENT*/

.content {
	background: #b8d3e8;
	margin: 1em auto;
	padding-top: 0.2em;
	height: 100%;
	width: 98%;
}

.wrapper {
	background: white;
	position: relative;
	top: 5%;
	margin: 1em auto;
	width: 99.5%;	
}

.nav__link {
	border: 1px solid red;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

nav a {
	text-decoration: none;
	font-size: 0.9em;
}

.news,
.article {
	border: 1px solid red;
	padding-left: 1em; 
}

.news * {
	margin: 0.1em;
}

.news p {
	font-size: 1.1em;
}

.article {
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	right: 0;
}

.article * {
	margin: 0.55em;
}

.pictures {
	float: left;
	border: 1px solid red;
	padding: 2%;
	width: 33.33%;
}

[class*="image-"] {
	background-size: 100% auto;
	height: 10em;
}

.image-1 {
	background-image: url(../images/pictures-1.jpg);
}

.image-2 {
	background-image: url(../images/pictures-10.jpg);
}

.image-3 {
	background-image: url(../images/pictures-12.jpg);
}

.image__description {
	padding-top: 1em;
}

/*Footer*/

.footer__text {
	text-align: center;
	font-size: 0.8em;
	border: 1px solid red;
	margin: 1em auto;
	height: 3em;
	line-height: 3em;
	vertical-align: middle;
}


/*TABLET*/
@media screen and (max-width: 920px) {
	.news {
		display: none;
	}

	.article {
		position: static;
	}

	.image-1 {
	background-image: url(../images/pictures-11.jpg);
	}

	.image-2 {
		background-image: url(../images/pictures-14.jpg);
	}

	.image-3 {
		background-image: url(../images/pictures-2.jpg);
	}
}

/*MOBILE*/
@media screen and (max-width: 480px) {
	.news {
		display: none;
	}

	.article {
		position: static;
	}

	.pictures {
		float: none;
		width: 100%;
	}
	
	.image-1 {
		background-image: url(../images/pictures-5.jpg);
	}

	.image-2 {
		background-image: url(../images/pictures-8.jpg);
	}

	.image-3 {
		background-image: url(../images/pictures-9.jpg);
	}
}

