html, body {
    margin: 0;
    font-family: Helvetica;
    background: url(./images/back.jpg) repeat;
    text-align: justify;

}

.header{
    height: 60px;
    background: #333;
	position: fixed;
	width: 100%;

}

.header .menu {
    width: 1024px;
    margin: 0 auto;
    background-color: #333;
}

.header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
} 

.header .menu li {
    float: left;
}

.header .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20.5px 22px;
    text-decoration: none;
}

.header .menu li a:hover {
    background-color: #4CAF50;
}

.im {
    display: inline-block;
    border: solid 1px;
    text-align: center;
    height: 290px;
    line-height: 1.7;
    background: #ccc;
	margin-top: 100px;
    
}

.im a {
    text-decoration: none;
    color: black;
}

.im a :hover {
    opacity: 0.5;
    
}

h1 {
   text-align: center;
}

p img {
   float: left;

}
.photo2 {
    float: right;
    margin-left: 5px;
}

.photo1 {
    float: left;
    margin-right: 5px;
}

.block {
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

.about{
    list-style-type: none;
    text-align: center;
    
    
}

.about a{
    color: white;
    text-decoration: none;
    padding: 20px 22px;
    float: right;


}

.about a:hover {
    background-color: #4CAF50;
    padding: 20.5px 22px;



}
.foot {
    text-align: center;
    background: #333;
    
}


.foo {
   padding: 15px 10px;


}

.foot a :hover {
    width: 45px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 2px #2E7FDA solid;
    
    
}


